.main{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background-image: url('/assets/img/background.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border: 4px solid black;
}

.title{
  color:black;
}

p,button{
  font-size: 0.7rem !important;
}

p{
  margin-top: 0.8rem !important;
}


.table-item{
  line-height: 0.8rem !important;
  font-size: 0.8rem !important;
  color: black;
}

.text-tutorial{
  font-size: 0.8rem !important;
  color: black;
  margin: 0 !important;
  padding: 0 !important;
}

@media(max-width: 404px){
  .table-item{
    line-height: 0.5rem !important;
  }  
}

.card-player {
  background-color: #e0ae08;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  max-width: 100% !important;
  height: auto;
  width:25%;
  height: auto;
  max-height: 200px;
  max-width: 120px;
  text-align: center;
  transition: border 0.3s, transform 0.3s;
  cursor: pointer;
}


.card-text{
  font-size: 0.6rem !important;
  margin: 0 !important;
  padding: 0 !important;
}

.card-text-tabuleiro{
  font-size: 0.8rem !important;
  margin: 0 !important;
  padding: 0 !important;
}


.campo-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.6rem !important;
}


.btn{
  background-color: #e0ae08;
  border: 2px solid black;
  text-align: center;
  transition: border 0.3s, transform 0.3s;
  cursor: pointer;
  width: 100% !important;
  padding: 0 !important;
}

  /* Botão Marrom Claro */
  .btn-marrom {
    background-color: #6f4e37;
    color: white;
    border: none;
  }
  
  .btn-marrom:hover {
    background-color: #8b5c3e;
  }
  
  /* Botão Marrom Escuro (menor) */
  .btn-marrom-escuro {
    background-color: #3e2723;
    color: white;
    border: none;
  }
  
  .btn-marrom-escuro:hover {
    background-color: #5d4037;
  }

.card{
  --bs-card-spacer-y: 0 !important;
  --bs-card-spacer-x: 0 !important;
}

.tabuleiro{
  height: 100% !important;
  width: 100% !important;
  max-width: 800px !important;
  max-height: 400px !important;
}

.btn-card{
  font-size: 0.8rem !important;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 600 !important;
  text-align: center !important;
  min-width: 50px !important;
}


.card-tabuleiro{
  background-color: #d6c68f;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  max-width: 180px !important;
  text-align: center;
}


.card-img-top{
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 2px solid black;
  border-radius: 0.5rem;
}


.hand{
  max-width: 500px;
  max-height: 2330px;
}


.txtBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background-color: #4b2e1a;
  color: #d8b28e;
  font-size: 2.2rem;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  border: 2px solid #8b5a2b;
  font-family: 'Georgia', serif;
  z-index: 2;
  text-align: center;
}




.enemy-info-tables, .player-info-tables{
  max-width: 480px;
  max-height: 140px;
}




@keyframes brilho-contorno{
  0% {
    transform: scale(1);
    color: black;
  }
  50% {
    transform: scale(1.2);
    color: #0bca44;
  }
  100% {
    transform: scale(1);
    color: black;
  }
}

.brilho-animado{
  animation: brilho-contorno 1s linear;
}

@keyframes dark-contorno{
  0% {
    transform: scale(1);
    color: black;
  }
  50% {
    transform: scale(1.2);
    color: rgba(209, 24, 24, 0.8);
  }
  100% {
    transform: scale(1);
    color: black;
  }
}

.dark-animado{
  animation: dark-contorno 1s linear;
}

@keyframes dark-contorno-recurso{
  0% {
    transform: scale(1);
    color: black;
  }
  50% {
    transform: scale(1.1);
    color: rgba(221, 52, 52, 0.8);
  }
  100% {
    transform: scale(1);
    color: black;
  }
}


.animar-carta-jogada-primeira{
  animation: el-grow 0.5s linear;
}


@keyframes el-grow{
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}


.dark-animado-recurso{
  animation: dark-contorno-recurso 1s linear
}

.naoclicavel{
  pointer-events: none;
}


.invisivel{
  display: none;
}