
    .titulo-tutorial{
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Botão Marrom Claro */
  .btn-marrom {
    background-color: #6f4e37;
    color: white;
    border: none;
  }
  
  .btn-marrom:hover {
    background-color: #8b5c3e;
  }
  
  /* Botão Marrom Escuro (menor) */
  .btn-marrom-escuro {
    background-color: #3e2723;
    color: white;
    border: none;
  }
  
  .btn-marrom-escuro:hover {
    background-color: #5d4037;
  }

