.card-img-full {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid black;
  border-radius: 0.5rem 0.5rem 0 0;
}

.custom-card {
  background-color: #e0ae08;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 180px; /* LIMITE DE LARGURA DO CARD */
}

.custom-card .card-body {
  padding: 0.5rem;
}

.custom-btn {
  font-size: 0.55rem;
  padding: 0.2rem 0.5rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  border-color: #ffc107;
  background-color: rgba(255, 193, 7, 0.1);
  color: #ffc107;
}

.invisible {
  visibility: hidden;
}
